body {
    padding-bottom: 40px;
    overflow-x: scroll;
}

form {
    max-width: 568px;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

#addPrivateCustomer {
    margin-bottom: 20px;
}

#addCorporateCustomer {
    margin-bottom: 20px;
}
