.clickable-row:hover {
    cursor: pointer;
}

.btn-group {
    margin-bottom: 10px;
}

.form-group {
    height: 50px;
}

#helpBlock2 {
    display: none;
}

.table {
    display: none;
}

footer .container {
    background-image: url("/assets/images/janne_n_sons.png");
    background-size: 244px 87px;
    width: 244px;
    height: 87px;
    background-repeat: no-repeat;
    background-position: left;
}