body {
    min-width: 568px;
    padding-bottom: 40px;
    overflow-x: scroll;
}

form {
    max-width: 568px;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}
.form-group {
    height: 50px;
}
.btn-group {
    margin-bottom: 10px;
}

