body {
    padding-bottom: 40px;
    overflow-x: scroll;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

textarea {
    resize: vertical;
}

#successAlert {
    display: none;
}

#failAlert {
    display: none;
}