body {
    overflow-x: scroll;
}

form {
    max-width: 568px;
}

.input-group {
    margin-top: 5px;
    margin-bottom: 5px;
}

.clickable-row:hover {
    cursor: pointer;
}

.btn-group {
    margin-bottom: 10px;
}

.form-group {
    height: 50px;
}

#helpBlock2 {
    display: none;
}

.table {
    display: none;
}

