@(employee: Employee, group: Group)
<nav class="navbar navbar-default">
    <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Elvision</a>
        </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li @if(request.path.equals("/")) {
                    class="active" }>
                <a href="@controllers.routes.HomeController.index()">
                    <span class="glyphicon glyphicon-home"></span> Hem
                </a>
                </li>

                <li @if(request.path.startsWith("/customer")) {
                    class="active dropdown"
                } else {
                    class="dropdown"
                    }>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-globe"></span> Kunder
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @if(group.getAccessLevel(employee.getGroupName()) > 0) {
                            <li><a href="@controllers.routes.CustomerController.add()">Ny kund</a></li>
                        }

                        <li><a href="@controllers.routes.CustomerController.index()">Register</a></li>
                    </ul>
                </li>
                <li @if(request.path.startsWith("/project")) {
                    class="active dropdown"
                } else {
                    class="dropdown"
                    }>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-wrench"></span> Projekt
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@controllers.routes.ProjectController.index()">Register</a></li>
                    </ul>
                </li>
                <li @if(request.path.startsWith("/invoice")) {
                    class="active dropdown"
                } else {
                    class="dropdown"
                    }>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-usd"></span> Fakturor
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Register</a></li>
                    </ul>
                </li>
                <li @if(request.path.startsWith("/employee")) {
                    class="active dropdown"
                } else {
                    class="dropdown"
                    }>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-leaf"></span> Anställda
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        @if(group.getAccessLevel(employee.getGroupName()) >= 1) {
                            <li><a href="@controllers.routes.EmployeeController.add()">Ny anställd</a></li>
                        }
                        <li><a href="@controllers.routes.EmployeeController.index()">Register</a></li>

                    </ul>
                </li>
                <li @if(request.path.startsWith("/schedule")) {
                    class="active dropdown"
                } else {
                    class="dropdown"
                    }>
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <span class="glyphicon glyphicon-calendar"></span> Schema
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                    @if(group.getAccessLevel(employee.getGroupName()) >= 0) {
                        <li><a href="@controllers.routes.ScheduleController.index()">Arbetsschema</a></li>
                    }
                    </ul>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/employee/@{
                    employee.getId()
                }"><span class="glyphicon glyphicon-user"></span>
                    @employee.getFirstname() @employee.getLastname() (@group.getFullGroupName(employee.getGroupName()))
                </a>
                </li>
                <li><a href="@controllers.routes.LoginController.logOut()"><span class="glyphicon glyphicon-log-out"></span>
                    Logga ut</a>
                </li>
            </ul>
        </div> <!-- /.navbar-collapse -->
    </div> <!-- /.container-fluid -->
</nav>
